// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 1000

.nunito-<uniquifier> {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

body  {
    margin: 0;
    background-color: antiquewhite;
    align-content: center;
    font-family: Nunito;
  }

.card-container   {
    display: flex;
    flex-direction: column;
    width: 340px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 28px;
    background-color: #fff;
    box-shadow: 0 1px 30px #dedede, 0 1px 30px #222;
}

.img-container    {
    
}

.img-restaurant {
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.title    {
    height: 90px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 16px;
    padding-left: 16px;
}

.left-title {
    padding: 0;
    list-style-type: none;
}

.name {
    font-weight: 800;
    font-size: 20px;
}

.venue  {
  font-weight: light;
}

.rating {
    display: flex;
    flex-direction: row;
}

.right-title  {
    align-content: center;
}

.like {
    width: 24px;
}

.description  {
    padding-left: 16px;
    padding-right: 16px;
}

.reserve-btn  {
    height: 64px;
    width: 100%;
    color: #fff;
    background-color: #000;
    font-weight: bold;
    font-size: 16px;
    margin-top: 16px;
    border: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
