@font-face {
  font-family: "Nunito";
  src: url("./fonts/Nunito/Nunito-VariableFont_wght.ttf") format("truetype");
}

:root {
  font-family: "Nunito", sans-serif;

  margin: 0;
  background-color: antiquewhite;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}