body    {
    margin: 0;
}

.main-container {
    height:100vh;
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-container    {
   width: 360px;
   text-align: center;
}

.card   {
   background-color: #fff;
   padding: 28px;
   border-radius: 28px;
   box-shadow: 0 1px 25px #dedede, 0 1px 25px #222;
}

.image-container    {
}

.profile-pic    {
    width: 128px;
    border-radius: 64px;
}
.handle {
    margin-top: 128px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.name   {
  margin: 0;
}

.tag  {
  margin: 0;
}
.socials    {

}

.about  {
}

.button-container   {
    margin-top: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.btn-follow     {
    width: 100px;
    color: #fff;
    background-color: #df408a;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 28px;
  }

.btn-message    {
    width: 100px;
    color: #222;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: solid 1px #dedede;
    border-radius: 28px;
}
